<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SMC Web-Assist | Feedback</title>
	<link rel="icon" type="image/x-icon" href="/img/smcLogo.ico">
	<link href="/bootstrap/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

</head>
<body>
	<div id="noticeParent" style="display: none; z-index: 10;">
		<div class="container-fluid animate position-fixed" id="noticeContainer">
				<div class="col position-absolute top-50 start-50 translate-middle m-0 bg-light p-3 text-center" id="noticeChild">
					<div>
						<div class="row">
							<h5> Successfully submitted, thank you for your Feedback!</h5>
						</div>
						<div class="row">
							<div class="col-sm-6 offset-sm-3 mt-4">
								<button class="btn btn-outline-success ps-5 pe-5" type="button" id="successBtn" onclick="clearFields()">Done</button>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light p-3" id="navBar">
		<div class="container-fluid">
		<a class="navbar-brand ps-3" href="/smc-webassist/home">SMC-Web Assist</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item ps-3">
					<hr>
				</li>
				<li class="nav-item ps-3">
				<!-- Submit Button -->
				<a class="nav-link" aria-current="page" href="/smc-webassist/category">Submit</a>
				</li>
				<li class="nav-item ps-3">
				<!-- Feedback Button -->
				<a class="nav-link active" aria-current="page" href="/smc-webassist/feedback">Feedback</a>
				</li>
				<li class="nav-item ps-3">
				<!-- About Button -->
				<a class="nav-link" aria-current="page" href="/smc-webassist/about">About</a>
				</li>
			</ul>
			<form class="d-flex">
				<div style="display: flex;" id="loggedInDiv">
					<a class="btn border-0 ps-3" href="/smc-webassist/account">Profile</a>
				</div>
				<div style="display: flex;" id="loggedOutDiv">
					<a class="btn border-0 ps-3" href="/smc-webassist/signin">Sign in</a>
				</div>
			</form>
		</div>
		</div>
	</nav>
	

	

	<div class="container-fluid pb-5" id="feedbackBodyContent1">
		<div class="container mt-3">
			<div class="row text-center">
				<div class="offset-md-3 col-md-6 p-2 border border-warning rounded" style="color: rgb(110, 110, 110); font-style: italic;">
					<b>Disclaimer!</b> <br>
					SMC Web-Assist is not endorsed by the Southern Mindanao Colleges.
					This is a project created by the BSCPE Seniors for educational purposes only.
					Any feedback submitted will be handed over to the SMC administration for review, 
					but it is not guaranteed that it will be implemented.
				</div>
			</div>
			<hr style="position: relative; z-index: -1;">
			
			
			
			<h3 class="text-center mt-5">Send a Feedback to SMC</h3>
			<h4 class="text-center mb-5">Help us improve by describing your feedback below</h4>
			<form class="needs-validation" novalidate style="font-size: 16px;">

				
				
				<div class="row mt-2">
					<div class="col">
						<p for="feedbackSubj" id="ticketLabel">Feedback Title</p>
						<input type="text" class="form-control rounded-0 rounded-bottom" id="feedbackTitle" name="feedbackTitle" placeholder="Title" required>
					</div>
				</div>
				
				

				<div class="row mt-2">
					<div class="col">
						<p for="feedbackDesc" id="ticketLabel">Description</p>
						<textarea class="form-control rounded-0 rounded-bottom" id="feedbackDesc" name="feedbackDesc" rows="6" placeholder="description..." required></textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						<p for="feedbackFile" id="ticketLabel">Attache a File</p>
						<input type="file" class="form-control rounded-0 rounded-bottom" id="feedbackFile" name="feedbackFile">
					</div>
				</div>
				<div class="row mt-3 text-center">
					<div class="col pt-4">
						<button class="btn btn-success ps-5 pe-5" id="feedbackBtn" type="submit">Submit Feedback</button>
						<button class="btn btn-outline-danger text-center" type="reset" style="float: right;"><i class="fa-solid fa-trash"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
			<p class="col-md-4 mb-0 text-dark">&copy; 2025 BSCPE SENIORS INC.</p>
				<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item"><a href="/smc-webassist/home" class="nav-link px-2 text-dark">Home</a></li>
				<!-- <li class="nav-item"><a href="/smc-webassist/#" class="nav-link px-2 text-dark">FAQs</a></li> -->
				<li class="nav-item"><a href="/smc-webassist/about" class="nav-link px-2 text-dark">About</a></li>
			</ul>
		</footer>
	</div>
	<br>
	<script src="https://kit.fontawesome.com/67f996be23.js" crossorigin="anonymous"></script>
	<script src="/js/script.js"></script>
	<script src="/js/feedback.js"></script>
	<script src="/bootstrap/bootstrap-5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>